body {
    /* height: 90%; */
    /* width: 80%; */
    /* text-align: center; */
    margin: 0;
}

header {
    height: 10%;
    background-color: rgb(230, 248, 230);
}

footer {
    height: 5%;
    background-color: rgb(3, 71, 3);
}

nav {
    height: 70px;
    background-color: rgb(3, 71, 3);
}

main {
    height: 90%;
    background-color: rgb(245, 247, 248);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    float: left;
    height: 50px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline;
    color: white;
    font-size: 14pt;
    padding: 10px 10px;
    text-decoration: none;
}

nav a:hover {
    background: rgb(6, 110, 6);
}

#section-left {
    float: left;
    /* height: 100%; */
    width: 50%;
    /* background: rgb(218, 215, 215); */
}

#section-right {
    float: right;
    height: 100%;
    width: 50%;
}

.content {
    padding: 10px;
}

.active {
    background-color: #4CAF50;
}

#states-list a {
    padding-left: 15px;
    display: block;
}

/* #states-list a:before {
    content: "• "
} */

#india {
    fill: #1e9de7;
    /* opacity: .8; */
    stroke: #000000;
    stroke-width: 1;
}

/* .state:hover {
    stroke: #fff;
    stroke-width: 1.5px;
} */

.tooltip {
    color: #222;
    background: white;
    padding: .5em;
    /* text-shadow: #f5f5f5 0 1px 0; */
    border-radius: 2px;
    /* box-shadow: 0px 0px 2px 0px #a6a6a6; */
    /* opacity: 0.9; */
    position: absolute;
}

.highlight_bar {
    fill: orange;
}

.highlight_state {
    fill: rgb(167, 229, 245);
    /* stroke: #fff; */
    stroke-width: 1.5px;
}

rect {
    fill: steelblue;
}